footer{
  margin-top: 20vh;
  background-image: url("../../../../assets/img/bg-top.png"),
  linear-gradient(90deg,var(--azul),var(--light));
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  background-position: top;
  width: 100%;
}
*{
  color: black;
}
a{
  font-family: AtmaR;
}
h5{
  font-family: AtmaM;
}
footer>div>section>div>div:nth-child(4)>ul>li>a{
  // background-color: red;
  font-family: AmtaM;
  font-weight: 600;
  text-decoration: none;
}
#contact{
  text-decoration: none;
  color: purple ;
}
