<div class="container-xxl py-5" id="feature">
  <div class="container py-5 px-lg-5">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-5">Proyectos</h1>
      </div>
      <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp rounded p-4 " data-wow-delay="0.1s" *ngFor="let i of imgs">
            <div class="card p-3">
              <img [src]="i.img" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">{{i.name}}</h3>
                <p class="card-text">{{i.desc}}</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
